<div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFill>
  <div *ngIf="showCondotion()" fxLayout="column wrap" fxFlex="100" fxLayoutAlign="center center" fxShow="true" fxHide="false">
    <p style="font-size: 40px; font-weight: 900; letter-spacing: 2.4px;" class="comming-soon">Comming Soon ......</p>
  </div>
  <div *ngIf="!showCondotion()" fxLayout="column wrap" fxFlex="100" fxLayoutAlign="center center" fxShow="true" fxHide="false">
    <p style="font-size: 40px; font-weight: 900; letter-spacing: 2.4px;" class="comming-soon">Page not found......</p>
  </div>
</div>