<div fxLayout="row wrap" fxLayoutAlign="center start" fxShow="true" fxHide="false" fxFill style="padding: 30px 0;">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFlex.gt-md="75" fxFlex.md="80" fxFlex.xs="95" fxFlex.sm="85">
    <div fxLayout="row wrap" style="    background-image: linear-gradient(to right, #00fffd8c , #e1e119);" fxLayoutAlign="space-between stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="center center" fxShow="true" fxHide="false">
        <p style="background: -webkit-linear-gradient(#09f5e9, #f81602); -webkit-background-clip: text; -webkit-text-fill-color: transparent;font-size: 35px; font-weight: 600; font-style: oblique;">Sample Responsive</p>
      </div>
    </div>
    <form fxLayoutAlign="center stretch" style="width:100%">
      <mat-card style="width:100%">
        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxShow="true" fxHide="false">
              <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFlex.lt-md="100">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFlex.lt-md="100">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxShow="true" fxHide="false">
              <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFlex.lt-md="100">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFlex.lt-md="100">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxShow="true" fxHide="false">
              <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFlex.lt-md="100">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFlex.lt-md="100">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxShow="true" fxHide="false">
              <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFlex.lt-md="100">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFlex.lt-md="100">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxShow="true" fxHide="false">
              <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFlex.lt-md="100">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFlex.lt-md="100">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="space-between stretch" fxShow="true" fxHide="false" fxLayout.xs="column">
              <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="center stretch" fxShow="true" fxHide="false" fxFlex.xs="100"><button mat-raised-button color="primary">Submit</button></div>
              <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="center stretch" fxShow="true" fxHide="false" fxFlex.xs="100"><button mat-raised-button color="warn">Reset</button></div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>